/*basic style*/
.wrap {
	background: url(../img/background.png) 100%;
	min-width: 1090px;
	padding-bottom: 46px;
}
.wrap-conteiner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 1090px;
	width: 1090px;
	margin: 0 0 0 171px;
	padding-top: 46px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
/*general style for all coment */
.fifth-inner, .fourth-inner, .third-inner, .second-inner {margin-right: 32px;}
.item_like-icon, .item_answer-icon {
    display: inline-block;
    background: url(../img/spritesheet_conteiner.png) 23px -21px;
    width: 20px;
    height: 20px;
    margin-right: 7px;	
}
.item_answer-icon {background: url(../img/spritesheet_conteiner.png) 23px 0px ;}
.second-icon, .third-icon {margin: 0 3px 0 16px;}
.item__sprite, .more-sprite {
	background: url(../img/spritesheet_conteiner.png) -46px -36px;
	width: 30px;
	height: 30px;
}
.main__sprite, .edu__sprite, .bonus__sprite, .challenge__sprite, .activity__sprite, .list__sprite, .network__sprite, .task__sprite, .recognition__sprite, .news__sprite, .platform__sprite {
	display: block;
	background: url(../img/spritesheet__nav.png) 1px -1px;
	width: 23px;
	height: 20px;
	margin-right: 12px;
}
.select-coment, .select-data__input {
	background-color: #e8e8e8;
	border: none;
	border-radius: 2px;
	border-radius: 2px;
	color: #333;
	outline: none;
	font-size: 1em;
	font-style: italic;
	width: 145px;
	height: 26px;
	padding-left: 11px;
}
.load-message__btn {
	background: transparent;
	border: 0;
	font-size: 1em;
	font-style: italic;
	color: #268ec1;
	text-decoration: underline;
	outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}
.load-message__btn:hover{
		color: rgb(44,83,158);
	-webkit-transition: 1s;
	   -moz-transition: 1s;
	    -ms-transition: 1s;
	     -o-transition: 1s;
	        transition: 1s;
}
/*end general style*/

/*style for navigation*/
.main-nav {width: 22.3%;}
/*navigation-sprite*/
.edu__sprite {background-position: 65px -19px;}
.bonus__sprite {background-position: 43px -20px;}
.challenge__sprite {background-position: 2px -40px;}
.activity__sprite {background-position: -15px -40px;}
.list__sprite {background-position: -35px -40px;}
.network__sprite {background-position: 23px -1px;}
.task__sprite {background-position: 1px -20px;}
.recognition__sprite {background-position: 22px -22px;}
.news__sprite {background-position: -19px 0px;}
.platform__sprite {background-position: 44px 0px;}
.item__border-inner span {width: 158px;height:1px;background-color: #cccccc;margin-left: 30px;}
.nav-list__item ul li:hover i.main__sprite{background: url(../img/spritesheet_hover.png) 1px -1px}
.nav-list__item ul li:hover i.edu__sprite {background: url(../img/spritesheet_hover.png) 65px -19px;}
.nav-list__item ul li:hover i.bonus__sprite {background: url(../img/spritesheet_hover.png) 43px -20px;}
.nav-list__item ul li:hover i.challenge__sprite{background: url(../img/spritesheet_hover.png) 2px -40px;}
.nav-list__item ul li:hover i.activity__sprite{background: url(../img/spritesheet_hover.png) -15px -40px;}
.nav-list__item ul li:hover i.list__sprite{background: url(../img/spritesheet_hover.png) -35px -40px;}
.nav-list__item ul li:hover i.network__sprite{background: url(../img/spritesheet_hover.png) 23px -1px;}
.nav-list__item ul li:hover i.task__sprite{background: url(../img/spritesheet_hover.png) 1px -20px;}
.nav-list__item ul li:hover i.recognition__sprite{background: url(../img/spritesheet_hover.png) 22px -22px;}
.nav-list__item ul li:hover i.news__sprite{background: url(../img/spritesheet_hover.png) -19px 0px;}
.nav-list__item ul li:hover i.platform__sprite{background: url(../img/spritesheet_hover.png) 44px 0px;}
/*end navigation-sprite*/
.nav-list__item ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 9px 5px 7px 15px;
}
.nav-list__item ul li:last-child{padding: 6px 5px 7px 11px;}
.nav-list__item ul li:hover {
	background-color: #0084bc;
	border-radius: 4px;
	cursor: pointer;
	-webkit-transition: 0.5s;
	        transition: 0.5s;
}
.nav-list__item ul li a {width: 100%;height: 100%;}
.nav-list__item ul li a:hover {color: #fff;}
.item-active a {color: #0084bc;}
.nav-list__item ul li.item__border-inner:hover {background-color: transparent;}

/*end stle for navigation*/
/*style for conteiner*/
.conteiner {
	-webkit-border-radius:5px ;
	border-radius:5px ;
	-webkit-box-shadow: 3px 3px 20px #dadada;
	        box-shadow: 3px 3px 20px #dadada;
	width: 69.3%;
	background: url(../img/back_conteiner.png) repeat;
    filter: alpha(Opacity=95);
    opacity: 0.75; 
    padding: 28px 29px 0 29px;
    height: 1547px;
    overflow-x: auto;
}
.general__box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	background-color: #f0f0f0;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
	height: 190px;
}
.title-close {
	background: url(../img/spritesheet_conteiner.png);
	width: 20px;
	height: 20px;
	margin-right: 4px;
}
.general__title {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	font-size: 1.28em;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.5px;
}
.general__info {
	line-height: 1.6;
	padding: 0 35px 4px 26px;
	letter-spacing: 0.4px;
}
.write-message {margin-top: 28px;}
.form-input__textarea {
	width: 727px;
	resize: none;
	outline: none;
	background-color: #f0f0f0;
	border: 0;
	border-radius: 5px;
	box-shadow: inset 0 0 10px #cbcbcb;
	padding: 17px 0 0 26px;
	font-style: italic;
	font-size: 1em;
	font-weight: 300;
}
.message-send {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 15px 0 60px 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.fileform { 
    cursor: pointer;
    height: 26px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    text-align: left;
    vertical-align: middle;
}
.fileform .selectbutton { 
    float: right;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.fileform #upload{
    position:absolute; 
    top:0; 
    left:0; 
    width:100%; 
    -moz-opacity: 0; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    font-size: 150px; 
    height: 30px; 
    z-index:20;
}
.fileform {
	background: url(../img/spritesheet_conteiner.png) 84px -1px;
	width: 27px;
	height: 30px;
	margin: 5px 16px 0 10px;
}
.file-send__btn {
	background-color: #007db2;
	border: 1px solid #006691;
	border-radius: 5px;
	color: #fff;
	font-size: 1.14em;
	width: 170px;
	height: 40px;
	font-weight: 300;
}
.file-send__btn:hover {
	cursor: pointer;
	color: #666;
	border: 0;
	background: rgb(184,198,223);
	background: -webkit-linear-gradient(left,  rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
	background: linear-gradient(to right,  rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=1 );
	-webkit-transition: 1s;
	        transition: 1s;
}
.send-name__file {font-size: .85em;font-style: italic;}
.content-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	font-style: italic;
	padding-top: 2px;
}
.select label, .select__data label {margin-right: 6px;}
.select__data {margin: 0 20px 0 25px;}
/*style for coment page__scroll*/
.coment-page__scroll {
	background: url(../img/line_coment.png) no-repeat 18px 103px;
	height: 765px;
	padding-top: 23px;
	overflow-x: auto;
}
.coment-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 4px 2px 0 0;
}
.coment-title__img {padding-top: 5px;}
.coment-title__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 88.3%;
	flex-basis: 88.3%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 18px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.title-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-preferred-size: 70%;
	flex-basis: 70%;
	letter-spacing: 0.4px;
}
.title-item__text {letter-spacing: 0.4px;line-height: 20px;}
.coment-title__more a{ color: #0084bc; }
.coment-title__more {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	text-align: right;
	text-decoration: underline;
	font-style: italic;
}
.title-sprite {
	display: block;
	background: url(../img/spritesheet_conteiner.png) -51px -2px;
	margin: 0 3px 0 15px;
	width: 30px;
	height: 30px;
}
.coment-data {font-style: italic;margin-right: 3px;letter-spacing: 0.4px;}
.coment-page__img {margin: 12px 12px 0px 86px;}
.coment-page__img a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #0084bc;
}
.coment-like, .coment-answer {
	background: url(../img/spritesheet_conteiner.png) -1px -36px;
	width: 20px;
	height: 20px;
	margin-left: 3px;
}
.coment-answer {background: url(../img/spritesheet_conteiner.png)-22px -36px;margin: 0 4px 0 33px;}
.coment-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 14px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	font-style: italic;
}
.coment-page__inner {padding: 0 0 0 49px;}
.coment-page__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.item__img-second {padding-top: 12px;}
.second-data {letter-spacing: 0.4px;margin-top: 5px;}
.second-coment {margin-top: 5px;}
.item__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-preferred-size: 87%;
	flex-basis: 87%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: 18px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.item__like {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-right: 10px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.item-like__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-style: italic;
	letter-spacing: 0.4px;
}
.item-like__inner span:hover{
	color: #0084bc;
}
.item_answer-icon:hover {
	background:url(../img/spritesheet_conteiner.png) -22px -34px ; 
}
.item_like-icon:hover {
	background: url(../img/spritesheet_conteiner.png) -1px -34px;
}
.coment-page__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	margin-top: 9px;
}
.coment-page__form-item{
	background: #f0f0f0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 500px;
	box-shadow: 0 0 10px #cbcbcb inset;
	border-radius: 5px;
	height: 39px;
	margin: 8px 0 0 86px;
}
.icon_form {background: url(../img/spritesheet_conteiner.png)-74px -37px;margin: 3px -1px 0 10px;}
.form-input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
}
input[type="text"]{
	background: #f0f0f0;
	width: 439px;
	font-style: italic;
	font-weight: 300;
	padding: 0 0 0 10px;
	margin: 10px;
	letter-spacing: 0.5px;
	outline: none;
}
input[type="file"] {
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/spritesheet_conteiner.png) 32px -39px;
	border: 0;
	font-size: 0px;
}
.coment-page__form-btn {
	background: #0081b8;
	width: 100px;
	height: 40px;
	color: #fff;
	font-size: 14px;
	border: 1px solid #006691;
	border-radius: 5px;
	margin-right: 10px;
}
.coment-page__form-btn:hover {
	cursor: pointer;
	color: #666;
	border: 0;
	background: rgb(184,198,223);
	background: -webkit-linear-gradient(left,  rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
	background: linear-gradient(to right,  rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=1 );
	-webkit-transition: 1s;
	        transition: 1s;
}
.coment-see__more {
	font-style: italic;
	margin: 16px 0 20px 30px;
	text-align: center;
}
#coment-text_btn-hide {display: none;margin-left: 585px;}
.coment-see__more a {color: #0084bc;text-decoration: underline;}
/*style for third coment*/
.third-coment {margin-top: 14px;}
.third-like {margin-top: 4px;}
/*style for fourth coment*/
.fourth-sprite, .fifth-sprite {background: url(../img/spritesheet_conteiner.png) 0px 31px;}
.fourth-coment {margin-top: 10px;}
/*style for fifth coment*/
.fifth-coment {margin-top: 32px;}
.end__btn {margin: 26px;}
.fourth__like {padding: 5px 6px 0 0;}
.fifth__like {margin: 6px -3px 0 0;}
#hidden-section {display: none;margin-top: -30px;}
#hidden-section .fifth-coment {margin: 0;}
#hidden-coment {display: none;margin-top: 65px;}
#coment-answer_btn-hide {display: none;}
#coment-text_hide {display: none;}
#bl-hidden_btn {display: none;}
.show_btn {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/images.png) no-repeat;
}
#load-message:hover {
	color: rgb(44,83,158);
	-webkit-transition: 1s;
	   -moz-transition: 1s;
	    -ms-transition: 1s;
	     -o-transition: 1s;
	        transition: 1s;
}
